<section class="py-16">
    <div class="container mx-auto px-4">
        <h2 class="text-4xl font-bold text-center mb-12">News Übersicht</h2>

        @if (newsSectionLoading()) {
            <app-loading></app-loading>
        } @else {
            @if (news().length > 0) {
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                    @for (item of news(); track item.title) {
                        @if (item.published) {
                            <div class="rounded-xl shadow-lg p-6 flex flex-col">
                                <h2 class="text-2xl font-bold mb-2">{{ item.newsType | translation }}</h2>
                                <img [src]="item.newsImage" alt="{{ item.title }}"
                                     class="w-full h-48 object-cover rounded-lg mb-4">
                                <h3 class="text-2xl font-bold mb-2">{{ item.title }}</h3>
                                <p class="text-sm text-gray-500 mb-2">{{ item.date }}</p>
                                <p class="flex-grow">{{ item.description }}</p>
                            </div>
                        }
                    }
                </div>
            } @else {
                <app-error-message [errorMessage]="newsSectionErrorMessage()"></app-error-message>
            }
        }
    </div>
</section>
