<div class="dashboard-container">

    <header class="dashboard-header">
        <h1>Willkommen, {{ userName }}!</h1>
    </header>

    <mat-card class="dashboard-card"> <mat-card-header>
        <mat-card-title>Nächste Termine</mat-card-title>
        <button mat-icon-button [matMenuTriggerFor]="eventsMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #eventsMenu="matMenu">
            <button mat-menu-item (click)="exportCalendar()">Kalender exportieren</button>
        </mat-menu>
    </mat-card-header>
        <mat-card-content>
            <div class="upcoming-gigs-grid">
                @for (gig of upcomingGigs; track gig.id) {
                    <mat-card class="gig-card">
                        <img [src]="gig.imageUrl" [alt]="gig.title" class="gig-image">
                        <mat-card-content class="gig-content">
                            <h3 class="gig-title">{{ gig.title }}</h3>
                            <p class="gig-location">{{ gig.address }}</p>
                            <p class="gig-date">{{ gig.date | date: 'dd.MM.yyyy' }} - {{ gig.time }}</p>
                        </mat-card-content>
                        <mat-card-actions>
                            <a mat-button routerLink="/musician/gigs/{{ gig.id }}">Details</a>
                        </mat-card-actions>
                    </mat-card>
                }

                @if (!upcomingGigs?.length) {
                    <div class="no-gigs">
                        <p>Keine anstehenden Termine</p>
                    </div>
                }
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="news-card">
        <mat-card-header>
            <mat-card-title>Aktuelles</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="news-grid">
                @for (announcement of recentAnnouncements; track announcement.id) {
                    <mat-card class="news-item">
                        <mat-card-content>
                            <div class="news-type-chip">
                                <mat-chip-row [class]="getAnnouncementTypeClass(announcement.types[0])">
                                    {{ getAnnouncementTypeLabel(announcement.types[0]) }}
                                </mat-chip-row>
                            </div>
                            <h3>{{ announcement.title }}</h3>
                            <p>{{ announcement.message }}</p>
                            <mat-card-subtitle class="news-footer">
                            <span class="news-date">
                                {{ announcement.startDate | date:'dd.MM.yyyy' }}
                            </span>
                                @if (announcement.endDate) {
                                    <span class="news-date-end">
                                    - {{ announcement.endDate | date: 'dd.MM.yyyy' }}
                                </span>
                                }
                                <span class="news-creator">
                                ({{ announcement.createdBy }})
                            </span>
                            </mat-card-subtitle>
                        </mat-card-content>
                    </mat-card>
                }

                @if (!recentAnnouncements.length) {
                    <div class="no-news">
                        <p>Keine Neuigkeiten verfügbar.</p>
                    </div>
                }
            </div>
        </mat-card-content>
    </mat-card>
</div>

<!--
    <div class="dashboard-grid lg:grid-cols-3">
        <div class="dashboard-column lg:col-span-2">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>Nachrichten</mat-card-title>
                    <span class="badge" *ngIf="unreadMessages > 0">{{ unreadMessages }}</span>
                    <button mat-icon-button [matMenuTriggerFor]="messagesMenu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #messagesMenu="matMenu">
                        <button mat-menu-item (click)="viewAllMessages()">Alle Nachrichten</button>
                        <button mat-menu-item (click)="markAllAsRead()">Alle als gelesen markieren</button>
                    </mat-menu>
                </mat-card-header>
                <mat-card-content>
                    <mat-list>
                        @for (gig of upcomingGigs; track gig.id) {
                            <mat-list-item class="event-item">
                                <div mat-line class="event-title">
                                    <mat-icon [class.event-brunch]="gig.gigType === 'brunch'"
                                              [class.event-twilight]="gig.gigType === 'twilight'"
                                              [class.event-concert]="gig.gigType === 'concert'"
                                              [class.event-performance]="gig.gigType === 'performance'"
                                              [class.event-other]="gig.gigType === 'other'"
                                    >
                                        {{ gig.gigType === 'concert' ? 'music_note' : 'queue_music' }}
                                    </mat-icon>
                                    {{ gig.title }}
                                </div>
                                <div mat-line class="event-details">
                                    <span>{{ gig.date | date:'EEEE, dd.MM.yyyy' }} • {{ gig.time }}</span>
                                    <span class="event-location">{{ gig.address }}</span>
                                </div>
                                <button mat-icon-button
                                        [color]="getAttendanceStatusColor(gig.attendance)"
                                        [matTooltip]="getAttendanceTooltip(gig.attendance)">
                                    <mat-icon>{{ getAttendanceIcon(gig.attendance) }}</mat-icon>
                                </button>
                            </mat-list-item>

                        }
                    </mat-list>
                    @if (!upcomingGigs?.length) {
                        <div class="no-events">
                            <p>Keine anstehenden Termine</p>
                        </div>
                    }
                </mat-card-content>
            </mat-card>

            <mat-card class="dashboard-card">
                <mat-card-content>
                    <mat-list>
                        @for (message of recentMessages; track message.id) {
                            <mat-list-item [class.unread]="!message.read" (click)="openMessage(message)">
                                <div mat-line class="message-title">
                                    {{ message.title }}
                                    <span class="message-time">{{ message.time | date:'shortTime' }}</span>
                                </div>
                                <div mat-line class="message-preview">{{ message.preview }}...</div>
                                <mat-icon *ngIf="!message.read" class="unread-indicator" color="primary">
                                    fiber_manual_record
                                </mat-icon>
                            </mat-list-item>
                        }
                    </mat-list>
                    @if (!recentMessages?.length) {
                        <div class="no-messages">
                            <p>Keine neuen Nachrichten</p>
                        </div>
                    }
                </mat-card-content>
            </mat-card>
        </div>

        <div class="dashboard-column lg:col-span-1">

            <div class="quick-access">
                <div class="quick-access-item" (click)="openScores('recent')">
                    <mat-icon>history</mat-icon>
                    <span>Zuletzt verwendet</span>
                </div>
                <div class="quick-access-item" (click)="openEquipment()">
                    <mat-icon>build</mat-icon>
                    <span>Meine Ausrüstung</span>
                </div>
                <div class="quick-access-item" (click)="openCarpool()">
                    <mat-icon>directions_car</mat-icon>
                    <span>Fahrgemeinschaften</span>
                </div>
                <div class="quick-access-item" (click)="openProfile()">
                    <mat-icon>person</mat-icon>
                    <span>Mein Profil</span>
                </div>
            </div>

            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>Übungsmaterialien</mat-card-title>
                    <button mat-icon-button [matMenuTriggerFor]="materialsMenu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #materialsMenu="matMenu">
                        <button mat-menu-item (click)="openMaterials()">Alle anzeigen</button>
                    </mat-menu>
                </mat-card-header>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item *ngFor="let material of practiceMaterials" (click)="openMaterial(material)">
                            <mat-icon mat-list-icon>
                                {{ material.type === 'pdf' ? 'picture_as_pdf' : 'video_library' }}
                            </mat-icon>
                            <div mat-line>{{ material.title }}</div>
                            <div mat-line class="material-subtitle">{{ material.subtitle }}</div>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>

            <div class="stats-container">
                <mat-card class="stat-card">
                    <mat-card-content>
                        <div class="stat-value">{{ attendanceRate }}%</div>
                        <div class="stat-label">Anwesenheit</div>
                    </mat-card-content>
                </mat-card>
                <mat-card class="stat-card">
                    <mat-card-content>
                        <div class="stat-value">{{ upcomingEventsCount }}</div>
                        <div class="stat-label">Bevorstehende Termine</div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div> -->
