.border-blue-500 { border-color: #3b82f6; }
.bg-blue-50 { background-color: #eff6ff; }

.border-yellow-500 { border-color: #eab308; }
.bg-yellow-50 { background-color: #fffbeb; }

.border-red-500 { border-color: #ef4444; }
.bg-red-50 { background-color: #fef2f2; }

.border-green-500 { border-color: #22c55e; }
.bg-green-50 { background-color: #f0fdf4; }
